@CHARSET "UTF-8";

$serif    : 'Lora','Droid Serif','Georgia','Baskerville','Baskerville Old Face','Hoefler Text',Garamond,'Libre Baskerville','Times New Roman',serif;
$sans     : 'Source Sans Pro','Raleway', arial, sans-serif;

//$serif    : 'Georgia','Baskerville','Baskerville Old Face','Hoefler Text',Garamond,'Libre Baskerville','Times New Roman',serif;
//$sans     : arial, sans-serif;


$spark_col_decoration: gray;


body {
  font-family: $sans;
  font-weight: 300;
}

h1 {
  font-family: $serif;
  font-weight: 700;
}

h3, h4 {
	//font-family: $serif;
	font-family: $sans;
	font-weight: 700;
}

h4 {
	padding-bottom: .2em;
	border-bottom: 1px solid lightgray;
}

svg {
	//border: 1px solid #ccc;
}

#graph-container {
	//padding-top: 2em;
	& #left-column, & #right-column {
		//border: 1px solid green;
	}
	& #left-column {
		& #sunburst-container {
			text-align: center;
			//border: 1px solid yellow;
		}
		& svg {
			//text-align: center;
			//border: 1px solid red;
		}
		& g {
			cursor: pointer;
		}
		& path {
			stroke: white;
			stroke-width:1;
			fill: white;
		}
		& text {
			// make text non-selectable / non-highlitable
			pointer-events: none;
			-webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
			//fill: white;
		}
	}
	& #right-column {
		border: 1px solid #ddd;
		//background: #fafafa;
		background: #f0f0f0;
		//background: #eee;
		
		& #details-pane {
			//border: 1px solid green;
		}

		& #officename,
		& #year {
			font-weight: bold;
		}

		& .details {
			//font-size: 120%;
			padding: 1em 0;

/***************************** Table summary *********************/
			table {
				border-collapse: collapse;
			}

			tr.total {
				font-weight: bold;
				font-size: 110%;
				border: 1px solid lightgray;
			}

			td {
				padding: 0.2em 1em;
				border: 0;
			}

			td.number, td.percent {
				text-align: right;
			}

			td.percent {
				padding-right: 0;
			}

			td.percent-sign {
				padding-left: 0;
			}


		}
		
/****************** bar chart suppliers *****************/
		& #barchart-container {
			text-align: center;
		}

		& .bar {
			fill: #ccc;
			stroke-width: .5;
			stroke: $spark_col_decoration;
		}
		
		& .axis path,
		& .axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		& .y.axis line,
		& .y.axis path,
		& .x.axis path {
		  display: none;
		}

		& .axis text {
			font-size: 75%;
		}
	}
	//border: 1px solid yellow;
}

#breadcrumb {
		//top: 0;
		//left: 0;
		//position: absolute;
		//float:left;  // uncomment to try (but comment position and top-left-right above, here, and below)
		// ALTERNATIVE -> SET UP DIFFERENT INTERACTIONS FOR MOBILE & DESKTOP !!
		& span {
			padding: .25em;
			&:hover {
				//text-decoration: underline;
			}
			&.separator:hover {
				text-decoration: none;
			}
			cursor: pointer;
		}
		//border: 1px solid yellow;
	} 

#over-sunburst {
	width: 100%;
	position: relative;

	

	#fixed-tooltip {
		top: 0;
		right: 0;
		position: absolute;
		//float:right  //uncomment to try
		text-align: right;
		background-color: white;
		padding: .25em;
		//border: 1px solid lightgray;
		& #fixed-tooltip-dept {
			font-size: 100%;
		}
		& #fixed-tooltip-chf {
			font-size: 120%;
			font-weight: bold;
		}
		& #fixed-tooltip-percent {
			color: gray;
		}
		//border: 1px solid green;
	}
}



.tooltip {
	background: white;
	padding: 1em;
	border: 1px solid #333;
	box-shadow: 0 0 5px #888;
}


/********** Sparklines *******************/
.sparkline {
	height: 150px;
	margin: 1.5em 0em;
	//border: 1px solid red;
	//position: relative;
	//font-size: 75%;
	div.left, 
	div.right {
		//display: inline-block;
		//vertical-align: middle;
		//border: 1px solid green;
		//vertical-align: text-top;
	}
	div.left {
		font-weight: bold;
		//vertical-align: bottom;
		//margin-right: 5em;
	}
	div.right {
		position: absolute;
		bottom: 0;
	}
	.bar {
		stroke-width: .5;
		stroke: $spark_col_decoration;
	}
	.axis text {
		fill: $spark_col_decoration;
	}
	.axis path,
	.axis line {
	  stroke: $spark_col_decoration !important;
	  shape-rendering: crispEdges;
	}
	.axis path {
	  display: none;
	}
	.y.axis line {
		display: none;
	}
}


