@CHARSET "UTF-8";

$serif    : 'Lora','Droid Serif','Georgia','Baskerville','Baskerville Old Face','Hoefler Text',Garamond,'Libre Baskerville','Times New Roman',serif;
$sans     : 'Source Sans Pro','Raleway', arial, sans-serif;

//$serif    : 'Georgia','Baskerville','Baskerville Old Face','Hoefler Text',Garamond,'Libre Baskerville','Times New Roman',serif;
//$sans     : arial, sans-serif;


$spark_col_decoration: gray;


body {
  font-family: $sans;
  font-weight: 300;
}

h1 {
  font-family: $serif;
  font-weight: 700;
}

h2 {
	font-family: $serif;
	font-size: 150%;
}

h3, h4 {
	//font-family: $serif;
	font-family: $sans;
	font-weight: 700;
}

h4 {
	padding-bottom: .2em;
	border-bottom: 1px solid lightgray;
}

svg {
	//border: 1px solid #ccc;
}

#graph-container {
	//padding-top: 2em;
	& #left-column, & #right-column {
		//border: 1px solid green;
	}
	& #left-column {
		& #sunburst-container {
			z-index: 1;
			text-align: center;
			//border: 1px solid yellow;
		}
		& svg {
			//text-align: center;
			//border: 1px solid red;
		}
		& g {
			cursor: pointer;
		}
		& path {
			stroke: white;
			stroke-width:1;
			fill: white;
		}
		& text {
			// make text non-selectable / non-highlitable
			pointer-events: none;
			-webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
			//fill: white;
		}
	}
	& #right-column {
		border: 1px solid #ddd;
		background: #f6f6f6;
		//background: #f0f0f0;
		//background: #eee;
		
		& #details-pane {
			//border: 1px solid green;
		}

		& #officename,
		& #year {
			font-weight: bold;
		}

		& .details {
			//font-size: 120%;
			padding: 1em 0;

/***************************** Table summary - bootstrap *********************/
			.row {
				margin: 0; // prevents "total" from being to wide and touch border of container
			}

			.total {
				font-weight: bold;
				font-size: 110%;
				border: 1px solid lightgray;
			}

			.number, .percent {
				text-align: right;
				white-space: pre;
			}
		}
		
/****************** bar chart suppliers *****************/
		& #barchart-container {
			text-align: center;
		}

		& .bar {
			fill: #ccc;
			stroke-width: .5;
			stroke: $spark_col_decoration;
		}
		
		& .axis path,
		& .axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		& .y.axis line,
		& .y.axis path,
		& .x.axis path {
		  display: none;
		}

		& .axis text {
			font-size: 75%;
		}
	}
	//border: 1px solid yellow;
}

/************ Breadcrumbs *************/

#breadcrumb {
		//top: 0;
		//left: 0;
		//position: absolute;
		//float:left;  // uncomment to try (but comment position and top-left-right above, here, and below)
		// ALTERNATIVE -> SET UP DIFFERENT INTERACTIONS FOR MOBILE & DESKTOP !!
		& span {
			padding: .25em;
			margin-top: .125em;
			margin-bottom: .125em;
			&:hover {
				//text-decoration: underline;
			}
			&.separator:hover {
				text-decoration: none;
			}
			cursor: pointer;
		}
		//border: 1px solid yellow;
	} 

// update bootstrap defaults
.breadcrumb > li + li:before {
    //content: "> ";
    //color: "#666";
}
.breadcrumb {
	margin-left: 0;
	margin-right: 0;
	background-color: transparent;
}

/********************* Sunburst tooltip ********************/

#over-sunburst {
	width: 100%;
	//position: relative;

	#fixed-tooltip {
		top: 0;
		right: 0;
		//height: 40px;
		z-index: 999;
		position: absolute;
		//float:right  //uncomment to try
		text-align: right;
		background-color: rgba(255,255,255,0.65);
		pointer-events: none;

		padding: .8em;
		//border: 1px solid yellow;
		& #fixed-tooltip-dept {
			font-size: 100%;
		}
		& #fixed-tooltip-chf {
			font-size: 120%;
			font-weight: bold;
		}
		& #fixed-tooltip-percent {
			color: gray;
		}
		//border: 1px solid green;
	}
}



.tooltip {
	background: white;
	padding: 1em;
	border: 1px solid #333;
	box-shadow: 0 0 5px #888;
}


/********** Sparklines *******************/
.sparkline {
	height: 180px;
	margin: 1.5em 0em;
	//border: 1px solid red;
	//position: relative;
	//font-size: 75%;
	div.left, 
	div.right {
		//display: inline-block;
		//vertical-align: middle;
		//border: 1px solid green;
		//vertical-align: text-top;
	}
	div.left h5 {
		font-weight: bold;
		height: 65px;
		//vertical-align: bottom;
		//margin-right: 5em;
	}
	div.left p {
		font-size: 75%;
		margin-bottom: 0;
	}
	div.right {
		position: absolute;
		bottom: 0;
	}
	.bar {
		stroke-width: .5;
		stroke: $spark_col_decoration;
	}
	.axis text {
		fill: $spark_col_decoration;
	}
	.axis path,
	.axis line {
	  stroke: $spark_col_decoration !important;
	  shape-rendering: crispEdges;
	}
	.axis path {
	  display: none;
	}
	.y.axis line {
		display: none;
	}
}


/********* buttons years ****************/
#years {
	text-align: center;
	margin-bottom: .5em;
}

#years span {
	//margin: .5em .5em .5em 0;
	//padding: .5em;
	//color: lightgray;

	&:hover {
		color: black;
	}
/*
	&.selected {
		//font-size: 120%;
		font-weight: bold;
		color: black;
	}
*/
}

.vis-button {
  padding: 6px 10px;
  border: 1px solid #ddd;
  margin-right:-1px;
  color: gray;
  cursor: pointer;
  box-shadow: 0px 2px 3px #eee; 
  display: inline-block;
  
  $r : 4px;
  &:first-child {
    border-top-left-radius: $r;
    border-bottom-left-radius: $r;
  }
  &:last-child{
    border-top-right-radius: $r;
    border-bottom-right-radius: $r;
  }

  &.selected {
    background: #eee;
    color: black;
    font-weight: bold;
    box-shadow: inset 2px 2px 3px #ddd;
  }

  //.&.selected:hover, .&:hover {
  //background: turquoise;
  //}

}


